@model WebApplication02.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", "Cliente", new { id = Model.ClienteId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Listar todos", "Index", "Cliente", new { id = Model.ClienteId }, new { @class = "btn btn-primary" })
</p>
