@model IEnumerable<WebApplication02.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<p>@Html.ActionLink("Novo", "Create", "Cliente", null, new { @class = "btn btn-primary" })</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Endereco)</th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Cliente", new { id = item.ClienteId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Detalhes", "Details", "Cliente", new { id = item.ClienteId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Deletar", "Delete", "Cliente", new { id = item.ClienteId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
