@model IEnumerable<WebApplication02.Models.Produto>

@{
    ViewBag.Title = "Index";
}


<p>@Html.ActionLink("Novo", "Create", "Produto", null, new { @class = "btn btn-primary" })</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Categoria.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Preco)</th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Preco)</td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", "Produto", new { id = item.ProdutoID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Detalhes", "Details", "Produto", new { id = item.ProdutoID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Deletar", "Delete", "Produto", new { id = item.ProdutoID }, new { @class = "btn btn-danger" })

                @*@Html.ActionLink("Editar", "Edit", new { id = item.ProdutoID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ProdutoID }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.ProdutoID })*@
            </td>
        </tr>
    }

</table>
