@model IEnumerable<WebApplication02.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<p>@Html.ActionLink("Novo", "Create", "Categoria", null, new { @class = "btn btn-primary" })</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Categoria", new { id = item.CategoriaID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Detalhes", "Details", "Categoria", new { id = item.CategoriaID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Deletar", "Delete", "Categoria", new { id = item.CategoriaID }, new { @class = "btn btn-danger" })

        </td>
    </tr>
}

</table>
