@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Desenvolvido em ASP NET Framework 4.6.</h2>
    <p class="lead">Sistema de controle de estoque 2021.</p>
    <h2>Apenas para fins acadêmicos</h2>
    <p><a href="#" class="btn btn-primary btn-lg">Sobre &raquo;</a></p>
    @DateTime.Now
</div>


<div class="row">
    <div class="col-md-3">
        <p class="text-center">@Html.ActionLink("Categorias", "Index", "Categoria", null, new { @class = "btn btn-primary btn-lg btn-block" })</p>
    </div>
    <div class="col-md-3">
        <p class="text-center">@Html.ActionLink("Cliente", "Index", "Cliente", null, new { @class = "btn btn-success btn-lg btn-block" })</p>
    </div>
    <div class="col-md-3">
        <p class="text-center">@Html.ActionLink("Produtos", "Index", "Produto", null, new { @class = "btn btn-danger btn-lg btn-block" })</p>
    </div>
    <div class="col-md-3">
        <p class="text-center">@Html.ActionLink("Vendas", "Index", "Venda", null, new { @class = "btn btn-warning  btn-lg btn-block" })</p>
    </div>
</div>