@model IEnumerable<WebApplication02.Models.Venda>

@{
    ViewBag.Title = "Index";
}

<p>@Html.ActionLink("Novo", "Create", "Venda", null, new { @class = "btn btn-primary" })</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Cliente.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Produto.Nome)</th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Produto.Nome)</td>
        <td>
            @Html.ActionLink("Editar", "Edit", "Venda", new { id = item.VendaID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Detalhes", "Details", "Venda", new { id = item.VendaID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Deletar", "Delete", "Venda", new { id = item.VendaID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
